<header>
<h1 class = "smooth-reveal hidden">{{page.title}}</h1>
<div class = "logo-links">
    <a href = "/">{% include home.svg %}</a>
    <a href = "mailto:montyfew@gmail.com">{% include email.svg %}</a>
    <a href = "https://instagram.com/montyfew">{% include insta.svg %}</a>
    <a href = "https://monoworks.bandcamp.com">{% include bandcamp-button-circle-line-white.svg %}</a>
</div>
<hr>

<nav>
<a href="/av_projects">AV&nbsp;Projects</a>
<a href="/vj">Live&nbsp;Visuals</a>
<a href="/music">Music</a>
<a href="/radio">Radio</a>
<!-- <a href="/videography">Videography</a> -->
</nav>
</header>