section.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    a {
        text-decoration: none;
        width: 100%;
    }
        
    article {
        display: grid;
        grid-template-columns: 100px 1fr max-content;
        grid-template-rows: min-content 1fr;
        margin-bottom: 1em;
        column-gap: 0.5em;
        row-gap: 0.5em;
        width: 100%;

        img {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: span 2;

            width: 100%;
            aspect-ratio: 1 / 1;
        }
        h2 {
            font-size: 1.3em;
            margin: 0;
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 1;
        }

        summary {
            grid-column-start: 2;
            grid-column-end: span 3;
            grid-row-start: 2;
        }
    }




}