
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;

    hr {
        align-self: stretch;
        border-left: solid 3px white;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    hgroup {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 50px; // necessary to prevent layout shift when changing between pages with multiline titles and single line ones
        
        p {
            font-size: 0.8rem;
            font-style: italic;
            text-align: right;
            margin: 0;
        }

        h1 {
            text-align: right;
            margin: 0;
        }

        div.spacer {
            height: 1em;
        }

    }
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}