
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;

    hr {
        align-self: stretch;
        border: solid 1.5px white;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    hgroup {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr min-content 1fr;
        width: 100%;
        align-items: end;
        
        p {
            font-size: 0.8rem;
            font-style: italic;
            text-align: right;
            margin: 0;
        }

        h1 {
            text-align: right;
            margin: 0;
        }

    }
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}