
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;

    hr {
        align-self: stretch;
        border-left: solid 3px white;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    div.logo-links {
        display: flex;
        flex-direction: column;
        gap: 0.1em;
        svg {
            width: auto;
            height: 1.2em;
        }

        a.invert svg {
            filter: invert(1);
        }

    }
    h1 {
        text-align: right;
        width: 100%;
        min-height: 50px; // necessary to prevent layout shift when changing between pages with multiline titles and single line ones
        display: flex;
        justify-content: right; /* Align horizontal */
        align-items: center; /* Align vertical */
        

    }
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}