body {
    height: 100lvh;
    position: relative;
}

header {
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 700ms ease-out;
    h1 {
        opacity: 1;
        transition: opacity 700ms ease-in-out;
    }
}

// This gets set by js to make main zoom to the top of the page
header.top {
    top: 50px;
    transform: translateY(0px) translateX(-50%);
    h1 {
        opacity: 0;
    }
}

@media 
    only screen and (max-width: 620px)
    {  
    header.top {
            top: 10px;
    }
}