html {
    height: 100lvh;
    position: relative;
}

body {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;

    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: inline-block;
    max-width: 30em;
    width: 100%;
    height: unset;
    min-height: unset;

    transition: all 700ms ease-out;

    h1 {
        opacity: 1;
        transition: opacity 700ms ease-in-out;
    }
}

section.bio {
    text-align: center;
}

// This gets set by js to make main zoom to the top of the page
body.top {
    top: 50px;
    transform: translateY(0px) translateX(-50%);
    h1 {
        opacity: 0;
    }
    section.bio {
        opacity: 0;
    }
}

@media 
    only screen and (max-width: 620px)
    {  
    body.top {
            top: 10px;
    }
}