body {
    height: 100lvh;
    position: relative;
}

header {
    position: absolute;
    top: calc(33%);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 700ms ease-out;
    h1 {
        opacity: 1;
        transition: opacity 700ms ease-in-out;
    }
}

section.bio {
    max-width: 25em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: calc(33% + 12em);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    transition: all 700ms ease-out;
}

// This gets set by js to make main zoom to the top of the page
header.top {
    top: 50px;
    transform: translateY(0px) translateX(-50%);
    h1 {
        opacity: 0;
    }
}

section.bio.top {
    opacity: 0;
}

@media 
    only screen and (max-width: 620px)
    {  
    header.top {
            top: 10px;
    }
}