@import "entries";
@import "maps";
@import "header";
@import "videography";

$font_stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$title_font_stack: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif", HelveticaNeue-CondensedBlack;


* {
    box-sizing: border-box;
    font-family: $font_stack;
    text-rendering: geometricPrecision;
}

html {
    width: 100svw;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

body {
    color: #fcfcfc; // text color
    background: #222; // background color

    max-width: 1700px;
    width:100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 0.9em; //overall font size
    
}

a { // Get rid of the blue color of links.
    color: unset;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

section.description {
    width: 200px;
    flex-grow: 1;
    padding: 1em;
}

section.projects {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap; // flow images to next line on small screens
    gap: 1em; // gap between adjacent images
}

section.music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; // flow images to next line on small screens
    gap: 2em; // gap between adjacent images
}

section.vj {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em; // gap between adjacent images

    article {
        // display: flex;
        flex-direction: row;
    }
}

article.project {
    width: 200px;
    flex-grow: 0;

    h2 {
        font-size: 1em;
        margin-top: 0.3em;
        font-style: italic;
    }

    img {
        outline: solid 1px black;
        transition: outline .1s ease-in-out;
        width: 100%;
        aspect-ratio: 1/1;
    }

    img:hover, img[data-highlight="true"], img:focus {
        outline-color: white;
    }

    p {
        font-size: 0.8em;
    }
}


@media 
    only screen and (max-width: 620px)
    {  
    body {
        padding: 10px;
    }
    section.description {
        width: 100%;
    }
    article.project {
        width: 100%;
    }
}

// Light mode, disabled for now
// @media (prefers-color-scheme: light) {
//     body, a{
//         color: #222;
//         background: #fcfcfc;
//     }
// }