@import "entries";
@import "maps";
@import "header";
@import "videography";
@import "music_player";

$font_stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace, serif;
$title_font_stack: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal,
  "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif",
  HelveticaNeue-CondensedBlack;

* {
  box-sizing: border-box;
  font-family: $font_stack;
  text-rendering: geometricPrecision;
}

html {
  width: 100svw;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  color: #fcfcfc; // text color
  background: #222; // background color

  max-width: 1700px;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

  font-size: 0.9em; //overall font size
  margin: 0;
  margin-bottom: 5em;

  //   min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

p {
  //   text-align: justify;
  //   text-justify: inter-word;
  line-height: 1.5;
}

.smooth-reveal {
  transition: opacity 700ms ease-out;
}

.smooth-reveal.hidden {
  opacity: 0;
}

main {
  flex-grow: 1;
}

a {
  // Get rid of the blue color of links.
  color: unset;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

section.description {
  width: 200px;
  flex-grow: 1;
  padding: 1em;
  padding-top: 0;
  p {
    margin-top: 0;
  }
}

section.projects {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap; // flow images to next line on small screens
  gap: 1em; // gap between adjacent images

  article.project p {
    line-height: 1.1;
  }
}

section.music,
section.vj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; // flow images to next line on small screens
  gap: 2em; // gap between adjacent images
}

section.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  iframe {
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
  }

  section.text {
    padding: 1em;
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
  }
}

section.narrow {
  max-width: 500px;
  margin: auto;

  iframe {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  img {
    width: 100%;
  }
}

body {
  transition: margin-top 700ms ease-out;
}

footer {
  margin-top: 90px;
  text-align: center;
  opacity: 0.5;
  font-size: 0.8em;
}

figure {
  margin: 0;
  width: 100%;

  figcaption {
    text-align: center;
    opacity: 0.7;
    font-size: 0.9em;
    width: 80%;
    margin: 0.8em auto;
  }
}

section.av_sketches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; // flow images to next line on small screens
  gap: 2em; // gap between adjacent images
  align-items: center;

  section.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

// Could consider a grid instead
// section.music, section.vj {
//     /**
//      * User input values.
//      */
//     --grid-layout-gap: 10px;
//     --grid-column-count: 10;
//     --grid-item--min-width: 200px;

//     /**
//      * Calculated values.
//      */
//     --gap-count: calc(var(--grid-column-count) - 1);
//     --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
//     --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
//     grid-gap: var(--grid-layout-gap);
//   }

article.project {
  width: 200px;
  flex-grow: 0;

  h2 {
    font-size: 1em;
    margin-top: 0.3em;
    font-style: italic;
  }

  img {
    outline: solid 1px black;
    transition: outline 0.1s ease-in-out;
    width: 100%;
    aspect-ratio: 1/1;
  }

  img:hover,
  img[data-highlight="true"],
  img:focus {
    outline-color: white;
  }

  p {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 620px) {
  body {
    padding: 10px;
  }
  section.description {
    width: 100%;
  }
  article.project {
    width: 100%;
  }
}

// Light mode, disabled for now
// @media (prefers-color-scheme: light) {
//     body, a{
//         color: #222;
//         background: #fcfcfc;
//     }
// }
