// This file is for styles related to maps, mainly on the AV page

.map {
  width: 100%;
  height: 300px;
  border: 1px white solid; //single pixel wide white border
  margin-bottom: 15px; // gap between map and images below
  background-color: var(--background-color);
}

// Reduce the contrast on stamen toner to make the background less black and the foreground less white.
#banner-map .maplibregl-canvas {
  // filter: invert(1) contrast(0.6) brightness(0.8);
}
